# Visual Studio files
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.nupkg

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet Packages Directory
packages/

# Windows-specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# User-specific files
*.rsuser
*.userosscache
*.sln.docstates